name: Python Selenium Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      selenium:
        image: selenium/standalone-chrome-firefox:4.21.0-20240604
        ports:
          - 4444:4444

    env:
      GRID_URL: "http://localhost:4444/wd/hub"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Chrome tests
        run: pytest -vs --browser=chrome

      - name: Run Firefox tests
        run: pytest -vs --browser=firefox
