name: Python Selenium Tests

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      selenium:
        image: selenium/standalone-browsers:4.21.0-20240604
        ports:
          - 4444:4444
        options: >-
          --shm-size="2g"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run tests on Chrome
        run: |
          pytest -vs --browser=chrome

      - name: Run tests on Firefox
        run: |
          pytest -vs --browser=firefox
